body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

input[type="range"] {
    /*width: 100%;*/
    margin-top: 40px;
}
.rangeTag {
    position: absolute;
    /*color: red;*/
    width: 200px;
    /*border: 1px solid blue;*/
    transform: translateY(-15px);
    text-align: center;
    background-color: white;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-left: 15px;
}

.rangeTag div{
    display:block;
}

.hiddenTag{
    display:none;
}

.emptyLable{
    display:none;
    height:25px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}