@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUOTE CALCULATOR</h1>
    <p class="lead">For the Money Me technical exam, this project was created. Between October 31 and November 1, 2022, Jomiel Enriquez is the creator of this. Even though this project still needs a lot of work, the current version is functional. By utilizing many forms of technology, this project was constructed in just two days. The application is currently deployed to SOMEE.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Home Page</h2>
        <p>
            The project is briefly described on the home page. This project employs a variety of technologies, including C#, ASP.Net, and ADO.Net. Visual Studio, JavaScript, HTML, CSS, and SSMS
        </p>
    </div>

    <div class="col-md-12">
        <h2>Quote Page</h2>
        <p>
            Quote Page contains the List of all submitted quote.
        </p>
        <p>@Html.ActionLink("Go to Quote", "QuoteList", "Home", new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-12">
        <h2>Quote API Tester Page</h2>
        <p>
            Quote API Tester Page will redirect you to the page that can be use to send API request to quote calculator using JSON format parameter.
        </p>
        <p>@Html.ActionLink("Go to API Tester", "APITester", "Home", new { @class = "btn btn-default" })</p>
    </div>

</div>